<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaRqn5PB1Na-ydMvusxXsL0xgM_jZ_NaM</string>
	<key>GCM_SENDER_ID</key>
	<string>397905096023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shopping-429dd</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-429dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397905096023:ios:90457ce7ac610b26032212</string>
</dict>
</plist>